<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %> </title>
  </head>
  <body>
    <div>
       <h1><%= order.mark %> </h1>
       <h2><%= order.name %> </h2>
       <h3><%= order.model %> </h3>
       <h4><%= order.date %> </h4>
       <form action="/treat" method="post">
        <button type="submit" class="p-4 bg-red-300 text-white font-semibold">Add to cart</button>
        <input type="hidden" name="productName" value="<%= order.name %>">
      </form>
    </div>
  </body>
</html>