<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <main>
      <div class="p-4 mx-auto">
        <% for( let order of orderList) { %>
        <div class="border p-4 inline-block rounded shadow-sm">
          <p class="text-red-300">mark : <span class="text-green-400"> <%= order.mark %></span></p>
          <p class="text-red-300">name : <span class="text-green-400"><%= order.name %></span></p>
          <p class="text-red-300">model : <span class="text-green-400"><%= order.model %></span></p>
          <p class="text-red-300">date : <span class="text-green-400"><%= order.date %></span></p>
          <a
            href="/details/<%= order.name %> "
            class="text-blue-400 font-semibold italic"
          >
            more details
          </a>
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
