<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <main>
      <div class="p-4 mx-auto">
        <% for( let order of orderList) { %>
        <div class="border p-4 inline-block">
          <p>mark : <%= order.mark %></p>
          <p>name : <%= order.name %></p>
          <p>model : <%= order.model %></p>
          <p>date : <%= order.date %></p>
          <a href="/details/<%= order.name %> " class="text-blue-400 font-bold"> more details </a>
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
